body {
    background: #170023;
    padding-top: 75px;
}

    /* Barra de Navegación */
    nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
    /* Pagina Principal*/

/* Apartado de Bienvenida */
.jumbotron {
    margin: 0;
    padding: 10px;
    background-color: #170023;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron p {
    margin: 10px 0;
    font-family: sans-serif; 
    color: #ffffff;
}

.lead {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

/* Linea horizontal */
.my-4 {
    margin: 5px 0 !important;
    color: #ffffff;
}

.container {
    padding: 0;
}

/* Titulos de apartados */
.section-tittle {
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Apartados */
.card {
    color: #ffffff;
    background-color: #0e0e0e;
}

.card-subtitle {
    color: #a1a1a1 !important;
}

/* Estilos de Tabla de Usuarios */
.cambiar-color th {
    border-color: #cecece !important;
}

.cambiar-color td {
    border-color: #cecece !important;
}


.cambiar-color td, .cambiar-color th {
    font-family: sans-serif;
    color: #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th:first-child {
    border-top-left-radius: 2px;
}

th:last-child {
    border-top-right-radius: 2px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

/* Estilos de formulario*/

.contenedor-formulario {
    margin-left: 20%;
    margin-right: 20%;
}

.formulario {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.contenedor-botones {
    padding-bottom: 2%;
}
