{% extends "layout.html"%}

{% block content %}

<!-- Contenido principal -->
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h2 class="display-4">Creditos</h2>
        <p class="lead">Esta página fue creada con mucho cariño y dedicación, con fines meramente académicos y evaluativos. ¡Esperamos se note el esfuerzo!</p>
        <hr class="my-4">
        </div>
    </div>

    <div class="card-group">
        <div class="card mb-3" style="max-width: 50%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/alex.png') }}" class="img-fluid rounded-start" alt="Avatar">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="https://imgur.com/a/hCDIkQJ"class="credit-name-link">Alex Arismendi</a></h5>
                  <h6 class="card-subtitle">Artista</h6>
                  <p class="card-text">Estudiante de Ilustración del Instituto de Diseño de Caracas. Ilustradora del banner utilizado en la página principal.</p>
                  <a href="https://www.instagram.com/catcrybby/" class="btn btn-primary">Instagram</a>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 50%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/luna.png') }}" class="img-fluid rounded-start" alt="Avatar">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="https://youtu.be/CFVCt0lemTM" class="credit-name-link">Fabiana Rodríguez</a></h5>
                  <h6 class="card-subtitle">Programadora</h6>
                  <p class="card-text">Estudiante de Ingenieria Informática en la Universidad Nacional Experimental de las Telecomunicaciones e Informática.</p>
                </div>
              </div>
            </div>
        </div>

      <div class="card-group">
       <div class="card mb-3" style="max-width: 50%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/yeismar.png') }}" class="img-fluid rounded-start" alt="Avatar">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="https://imgur.com/a/rIT7PzI" class="credit-name-link">Yeismar Ruíz</a></h5>
                  <h6 class="card-subtitle">Programadora</h6>
                  <p class="card-text">Estudiante de Ingenieria Informática en la Universidad Nacional Experimental de las Telecomunicaciones e Informática.</p>
                </div>
              </div>
            </div>
        </div>
            <div class="card mb-3" style="max-width: 50%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/samuel.png') }}" class="img-fluid rounded-start" alt="Avatar">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">
                        <a href="https://youtu.be/YtIVTRh1Lys" class="credit-name-link">Samuel Jiménez</a></h5>
                      <h6 class="card-subtitle">Programador</h6>
                      <p class="card-text">Estudiante de Ingenieria Informática en la Universidad Nacional Experimental de las Telecomunicaciones e Informática.</p>
                    </div>
                  </div>
                </div>
            </div>
      </div>

           <div class="card mb-3" style="max-width: 50%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/miguel.png') }}" class="img-fluid rounded-start" alt="Avatar">
          </div>
          <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="https://imgur.com/a/8XJFve7" class="credit-name-link">Miguel Solorzano</a></h5>
                  <h6 class="card-subtitle">Programador</h6>
                  <p class="card-text">Estudiante de Ingenieria Informática en la Universidad Nacional Experimental de las Telecomunicaciones e Informática.</p>
            </div>
          </div>
        </div>

</div>

{% endblock%}