{% extends "layout.html"%}

{% block content %}

    <!--Banner-->
    <header class="container-fluid p-0">
        <img src="{{ url_for('static', filename='images/banner-extended.png') }}" class="img-fluid w-100" alt="Banner">
    </header>

    <!-- Contenido principal -->
    <div class="container">
        <!--Apartado de Bienvenida-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">¡Bienvenido a Ratón Lúdico!</h1>
            <p class="lead">Aquí encontrarás reseñas y noticias sobre los mejores juegos indie. Nuestro objetivo es explorar 
              el mundo de los juegos independientes, destacando títulos que a menudo pasan desapercibidos pero que ofrecen experiencias 
              únicas y emocionantes. Si eres un fanático de los juegos de rol y del terror psicológico, estás en el lugar correcto. 
              ¡Explora con nosotros el fascinante universo de los juegos indie!</p>
            <hr class="my-4">
            </div>
        </div>
        
        <!--Apartado de Resenas e Imagenes-->

        <h1 class="section-tittle">Últimos Lanzamientos</h1>
          <div class="d-flex justify-content-center">
            <div class="card">
              <img src="{{ url_for('static', filename='images/Clair_Obscur/card.jpg') }}" class="card-img-top" alt="GameCover">
             <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('clair_obscur') }}'">
                <h5 class="card-title">Clair Obscur: Expedition 33</h5>
                <p class="card-text">Un RPG por turnos que reinventa el género con su innovador sistema de combate.</p>
                <p class="card-text"><small class="text-muted" style="color :#ccc6c6 !important;"></small>Actualizado hace 11 minutos</small></p>
              </div>
            </div>
          </div>

        <h1 class="section-tittle">Acción y Aventura</h1>
        <div class="card-group">
          <div class="card">
            <img src="{{ url_for('static', filename='images/Celeste/card.jpg') }}" class="card-img-top" alt="GameCover">
             <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('celeste') }}'">
                <h5 class="card-title">Celeste</h5>
                <p class="card-text">Un plataformero con jugabilidad precisa y desafiante, combinando mecánicas 
                  innovadoras de salto y dash con una narrativa profunda sobre salud mental y superación personal.</p>
                <p class="card-text"><small class="text-muted" style="color :#ccc6c6 !important;">Actualizado hace 40 minutos</small></p>
              </div>
          </div>
            <div class="card">
              <img src="{{ url_for('static', filename='images/OneShot/card.jpg') }}" class="card-img-top" alt="GameCover">
             <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('oneshot') }}'">
                <h5 class="card-title">OneShot</h5>
                <p class="card-text">Una aventura narrativa que reinventa el género con su innovadora ruptura de la cuarta pared, integrando puzles que trascienden 
                  la pantalla y una profunda conexión emocional con el jugador.</p>
                <p class="card-text"><small class="text-muted" style="color: #ccc6c6 !important;">Actualizado hace 2 dias</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{{ url_for('static', filename='images/Party_Hard/card.jpg') }}" class="card-img-top" alt="GameCover">
             <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('party_hard') }}'">
                <h5 class="card-title">Party Hard</h5>
                <p class="card-text">Un juego de acción y sigilo donde debes eliminar silenciosamente a todos en fiestas ruidosas, usando trampas y 
                estrategias para no ser atrapado.<br><br></p>
                <p class="card-text"><small class="text-muted" style="color: #ccc6c6 !important;">Actualizado hace 10 dias</small></p>
              </div>
            </div>
          </div>

          <h1 class="section-tittle">Horror y Suspenso</h1>
          <div class="card-group">
            <div class="card">
            <img src="{{ url_for('static', filename='images/Mad_Father/card.jpg') }}" class="card-img-top" alt="GameCover">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('mad_father') }}'">
                <h5 class="card-title">Mad Father</h5>
                <p class="card-text">Survival horror RPG donde una niña de 11 años, explora la mansión de su padre para descubrir oscuros secretos y enfrentar horrores sobrenaturales.</p>
                <p class="card-text"><small class="text-muted" style="color: #ccc6c6 !important;">Actualizado hace 1 día</small></p>
              </div>
            </div>
            <div class="card">
            <img src="{{ url_for('static', filename='images/Cry_Of_Fear/card.png') }}" class="card-img-top" alt="GameCover">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('cry_of_fear') }}'">
                <h5 class="card-title">Cry of Fear</h5>
                <p class="card-text">Terror psicológico en primera persona donde el protagonista, enfrenta sus traumas y monstruos internos en una ciudad oscura, 
                combinando supervivencia y combate tenso.</p>
                <p class="card-text"><small class="text-muted" style="color: #ccc6c6 !important;">Actualizado hace 4 dias</small></p>
              </div>
            </div>
            <div class="card">
            <img src="{{ url_for('static', filename='images/Slay_The_Princess/card.png') }}" class="card-img-top" alt="GameCover">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='{{ url_for('slay_the_princess') }}'">
                <h5 class="card-title">Slay The Princess | The Pristine Cut</h5>
                <p class="card-text">Novela visual de terror psicológico donde debes decidir si matar o salvar a una princesa atrapada, 
                enfrentando múltiples finales y dilemas morales.</p>
                <p class="card-text"><small class="text-muted" style="color: #ccc6c6 !important;">Actualizado hace 15 dias</small></p>
              </div>
            </div>
          </div>
    </div>

{% endblock%}