{% extends "layout.html"%}

{% block content %}

    <!-- Contenido principal -->
    <div class="container">
        
        <!--Titulo-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h2 class="display-4">Gestor de Usuarios</h2>
            <p class="lead">Aquí puedes crear tu cuenta personalizada con un nombre de usuario y tu correo electrónico. También podrás editar o eliminar tus cuenta si así lo quieres.</p>
            </div>
        </div>

            <!-- Tabla de registros -->
        <main>
            <table class="table table-secundary table-hover cambiar-color">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Correo electronico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in personas %}
                    <tr>
                        <td>{{ persona.nombre }}</td>
                        <td>{{ persona.correo }}</td>
                        <td>
                            <a href="{{ url_for('edit', id=persona.id) }}" class="btn btn-primary" role="button">Editar</a>
                            <a href="{{ url_for('delete', id=persona.id) }}" class="btn btn-danger" role="button" onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

        <!-- Botón para agregar nuevo usuario -->
        <div class="boton-agregar">
            <div class="boton-agregar">
                <a href="{{ url_for('add') }}" class="btn btn-primary">Añadir Usuario</a>
            </div>
            
        </div>
        
    </div>
        
{% endblock%}